{% extends "layout.html" %}

{% block title %}
    careers
{% endblock %}

{% block main %}

<main class="container">
    <h1 class="text-center my-3 fs-1 fw-normal">DevTime Careers</h1>
    <div class="banner-container">
        <img src="../static/banner.jpg" alt="Banner image" class="img-fluid rounded">
    </div>
    <h2 class="text-center my-3 fs-2 fw-normal">About Devtime</h2>
    <p class="lead">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Optio dicta culpa ea unde deserunt at doloremque, 
        sequi voluptatem temporibus quae.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Optio dicta culpa ea unde deserunt at doloremque, 
        sequi voluptatem temporibus quae.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Optio dicta culpa ea unde deserunt at doloremque, 
        sequi voluptatem temporibus quae.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Optio dicta culpa ea unde deserunt at doloremque, 
        sequi voluptatem temporibus quae.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Optio dicta culpa ea unde deserunt at doloremque, 
        sequi voluptatem temporibus quae.
    </p>
    <h2 class="text-center my-3 fs-2 fw-normal">Open Positions</h2>
    <div>
        {%  for job in jobs %}
            <div class="my-3 row align-items-end">
                <div class="details col-10">
                    <h4>{{job.title}}</h4>
                    <p class="my-0"><b>Location: </b>{{job.location}}</p>
                    <p class="my-0"><b>Salary: </b>{{job.salary}}</p>
                </div>
                <div class="col-2">
                    <a href="mailto:devtimecareers@gmail.com">
                        <button class="btn btn-outline-primary btn-lg float-end">Apply</button>
                    </a>
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
</main>
{% endblock %}